<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>electron-productos-test</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
    <div id="container p-4">
        <div class="row" id="productos"></div>
    </div>

    <script>
        const { ipcRenderer } = require('electron');

        const productos = document.querySelector('#productos');

        ipcRenderer.on('producto:nuevo', (e, nuevoProducto) => {
            const nuevoProductoTemplate = `
                <div class="col-xs-4 p-2">
                    <div class="card text-center">
                        <div class="card-header">
                        <h5 class="card-title">${nuevoProducto.nombre}</h5>
                        </div>
                        <div class="card-body">
                        ${nuevoProducto.precio} $
                        <hr>
                        ${nuevoProducto.descripcion}
                        </div>
                        <div class="card-footer">
                        <button class="btn btn-danger btn-sm">
                            ELIMINAR
                        </button>
                        </div>
                    </div>
                </div>
            `;
            productos.innerHTML+=nuevoProductoTemplate;
            const btns=document.querySelectorAll('.btn.btn-danger');
            btns.forEach(btn => {
                btn.addEventListener('click',e =>{
                    e.target.parentElement.parentElement.parentElement.remove();
                })
            })
        });

        ipcRenderer.on('productos:eliminar',(e) =>{
            console.log('eliminar productos');
            productos.innerHTML='';
        })
    </script>
</body>

</html>